<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Binding" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Core" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.Core.UI" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.Fragment" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Droid.Support.V7.AppCompat" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Forms" version="5.3.1" targetFramework="monoandroid80" />
  <package id="MvvmCross.Platform" version="5.3.1" targetFramework="monoandroid80" />
  <package id="Syncfusion.Licensing" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.Buttons" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.Core" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfDataForm" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="16.4.0.54" targetFramework="monoandroid90" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Annotations" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Design" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Transition" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v4" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.CardView" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.Palette" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="26.0.2" targetFramework="monoandroid80" />
  <package id="Xamarin.Build.Download" version="0.4.7" targetFramework="monoandroid80" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="monoandroid90" />
</packages>