<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="5.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Binding" version="5.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Core" version="5.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Forms" version="5.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="MvvmCross.Platform" version="5.3.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Licensing" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.Buttons" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.Core" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfComboBox" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfDataForm" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfNumericTextBox" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Syncfusion.Xamarin.SfNumericUpDown" version="16.4.0.54" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="3.1.0.697729" targetFramework="portable45-net45+win8+wpa81" />
</packages>